.idea/
*.pyc
~*/
*.save

audio_cache/
dectalk/
config/pls/*.txt
config/autoplaylist.txt
config/history.txt

discord.log
logs/
data/
config/options.ini
config/permissions.ini
config/autoplaylist.txt
config/autoplaylist_removed.txt
